body {
      background-color:#000000;
      
}
.rock {
        width:100vw;
        height:33.33vh
}

.scis {
        width:100vw;
        height:33.33vh;
}

.paper {
        width:100vw;
        height:33.33vh;
}

figure {
        display:flex;
        justify-content: center;
        align-items: center;
}

img {
        width:50vw;
        height:33.33vh;
        
}

img:hover {
            zoom:115%;
            z-index:1;
}